@charset "UTF-8";

/**
 *  Foundation
 * ========================== */

/* Variables */

$breakpoint: (
    sp: 'screen and (max-width: 767px)'
);
$color: #333;
$color-danger: #ff3333;
$link-color: #2d5ae0;
$button-color: #fff;
$button-bg-color: #666;
$button-bg-color-hover: #999;
$button-bg-color-primary: #2d5ae0;
$button-bg-color-primary-hover: #5a7be0;
$button-bg-color-danger: #ff3333;
$button-bg-color-danger-hover: #ff6666;
$top-color: #fff;
$top-button-bg-color: #0080ff;
$top-button-bg-color-hover: #3399ff;
$alert-color: #fff;
$alert-bg-color: #999;
$alert-bg-color-success: #00cc00;
$alert-bg-color-danger: #ff3333;
$input-text-border-color: #ccc;
$input-text-border-color-danger: #ff3333;
$loading-circle-border-color: #fff;
$spa-loading-circle-border-color: #666;
$header-bg-color: #fff;
$header-border-color: #fff;
$header-link-color: #333;
$header-link-color-hover: #999;
$table-border-color: #666;
$footer-bg-color: #ccc;
$footer-color: #333;
$footer-link-color: #333;
$footer-bg-color-top: #000;
$footer-color-top: #ccc;
$footer-link-color-top: #ccc;
$item-select-border-color: #ccc;
$modal-window-bg-color: #fff;

/* Mixin */

@mixin mq($bp) {
    @media #{map-get($breakpoint, $bp)} {
        @content;
    }
}

/* Base */

html {
    height: 100vh;
}

body {
    height: 100vh;
    margin: 0;
    color: $color;
    /* $font-color */
    line-height: 1.5;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

a {
    color: $link-color;
}

/* Keyframes */

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes alert-message-fadeout {
    0% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes hamburger-menu-fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hamburger-menu-fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/**
   *  Layout
   * ========================== */

/* Wrapper */

.l-wrapper {
    min-height: 100vh;
    position: relative;
    min-width: 320px;
}

/* Header */

.l-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 51px;
}

/* Main */

.l-main {
    padding: 51px 0 113px;

    &__inner {
        max-width: 840px;
        min-width: 320px;
        padding: 30px 20px;
        margin: 0 auto;
    
        @include mq(sp) {
            padding: 30px 10px;
        }
    }
}

/* Footer */

.l-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 113px;
    width: 100%;
}

/* Object
   * ========================== */

/* Component ------------ */

/* Button */

.c-button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: $button-bg-color;
    color: $button-color;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: $button-bg-color-hover;
    }

    &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }

    &--primary {
        background-color: $button-bg-color-primary;

        &:hover {
            background-color: $button-bg-color-primary-hover;
        }
    }

    &--danger {
        background-color: $button-bg-color-danger;

        &:hover {
            background-color: $button-bg-color-danger-hover;
        }
    }
}



/* Form */

.c-form {
    &__label {
        font-size: 16px;
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }
    
    &__input-text {
        font-size: 16px;
        border: 1px solid $input-text-border-color;
        display: block;
        height: 40px;
        width: 100%;
        max-width: 400px;
        padding: 0 16px;

        &--error {
            border: 1px solid $input-text-border-color-danger;
        }
    }

    &__input-text-error-msg {
        margin-top: 5px;
        color: $color-danger;
    }
    
    &__input-password {
        font-size: 16px;
        border: 1px solid $input-text-border-color;
        display: block;
        height: 40px;
        width: 100%;
        max-width: 400px;
        padding: 0 40px 0 16px;

        &--error {
            border: 1px solid $input-text-border-color-danger;
        }
    }
    
    &__input-password-error-msg {
        margin-top: 5px;
        color: $color-danger;
    }
    
    &__input-password-wrapper {
        position: relative;
        width: 100%;
        max-width: 400px;
    }
    
    &__input-password-eye-icon {
        display: block;
        position: absolute;
        width: 24px;
        height: 24px;
        top: 8px;
        right: 8px;
        cursor: pointer;
    }
    
    &__input-password-eye-icon-line {
        display: none;
        position: absolute;
        top: 19px;
        right: 5px;
        height: 2px;
        width: 30px;
        background-color: $color;
        transform: rotate(45deg);
        pointer-events: none;

        &--active {
            display: block;
        }
    }
    
    &__input-checkbox {
        margin-right: 5px;
    }
    
    &__input-checkbox-label {
        font-weight: bold;
    }
}

/* Page Heading */

.c-page-heading {
    font-size: 24px;
    margin: 0 0 20px;
    width: 100%;

    &--with-left-arrow {
        position: relative;
        padding-left: 48px;
    }

    &__left-arrow {
        position: absolute;
        top: 2px;
        left: 0;
        width: 32px;
        height: 32px;
        display: block;
        cursor: pointer;
    }
}

/* Spa Loading */

.c-spa-loading {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border: 4px solid $spa-loading-circle-border-color;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: rotate 1s linear 0s infinite;
}

/* Project ------------ */

/* Header */

.p-header {
    border-bottom: 1px solid $header-border-color;
    background-color: $header-bg-color;
    height: 51px;

    &__inner {
        width: 100%;
        max-width: 1040px;
        min-width: 320px;
        padding: 0 20px;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 50px;
        position: relative;
    
        @include mq(sp) {
            padding: 0 10px;
        }
    }

    &__logo {
        font-weight: bold;
        font-size: 24px;
        height: 36px;
    }
    
    &__logo-link {
        color: $color;
        /* $font-color */
        text-decoration: none;
        transition: color 0.3s;
    }
    
    &__nav-list {
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0;

        @include mq(sp) {
            display: none;
        }
    }

    &__nav-list-item {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }
    
    &__nav-list-item-link {
        font-weight: bold;
        display: block;
        padding: 0 10px;
        line-height: 24px;
        text-decoration: none;
        color: $header-link-color;
        /* $font-color */
        transition: color 0.3s;

        &:hover {
            color: $header-link-color-hover;
        }
    }

    &__hamburger-button {
        display: none;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    
        @include mq(sp) {
            display: block;
        }
    }
    
    &__hamburger-button-line1 {
        background-color: $color;
        width: 30px;
        height: 4px;
        position: absolute;
        top: 3px;
        left: 0;
        transition: all 0.3s;

        &--active {
            transform: rotate(45deg);
            top: 13px;
        }
    }

    &__hamburger-button-line2 {
        background-color: $color;
        width: 30px;
        height: 4px;
        position: absolute;
        top: 13px;
        left: 0;
        transition: all 0.3s;

        &--active {
            opacity: 0;
        }
    }

    &__hamburger-button-line3 {
        background-color: $color;
        width: 30px;
        height: 4px;
        position: absolute;
        top: 23px;
        left: 0;
        transition: all 0.3s;

        &--active {
            transform: rotate(-45deg);
            top: 13px;
        }
    }
}

/* Weather Forecast */

.p-wheather-forecast {
    margin-top: 20px;

    &__area-name {
        font-size: 24px;
        font-weight: bold;
        margin: 0 0 20px;
    }
    
    &__date {
        font-size: 20px;
        font-weight: bold;
        margin: 0 0 20px;
    }
    
    &__table-wrapper {
        overflow-x: auto;
        margin: 0 0 20px;
    }
    
    &__table {
        width: 100%;
        border: none;
        border-collapse: collapse;
    }
    
    &__table-th {
        border-bottom: 2px solid $table-border-color;
        font-size: 16px;
        font-weight: bold;
        white-space: nowrap;
        padding: 0 10px;
    }
    
    &__table-td {
        border-bottom: 1px solid $table-border-color;
        text-align: center;
        height: 51px;
        padding: 0 10px;
        white-space: nowrap;
    }
    
    &__table-td-icon {
        display: block;
        margin: 0 auto;
        width: 50px;
    }
}

/* Footer */

.p-footer {
    height: 113px;
    background-color: $footer-bg-color;
    color: $footer-color;

    &--top {
        background-color: $footer-bg-color-top;
        color: $footer-color-top;
    }
    
    &__inner {
        max-width: 840px;
        min-width: 320px;
        margin: 0 auto;
        text-align: center;
        padding: 30px 20px;
    
        @include mq(sp) {
            padding: 30px 10px;
        }
    }

    &__inner-link-wrapper {
        margin-bottom: 5px;
    }
    
    &__inner-link {
        color: $footer-link-color;
        /* $font-color */
        text-decoration: none;
        transition: color 0.3s;
        margin: 0 10px;
    
        &--top {
            color: $footer-link-color-top;
        }
    
        &:first-child {
            margin-left: 0;
        }
        
        &:last-child {
            margin-right: 0;
        }
        
        &:hover {
            text-decoration: underline;
        }
    }
}

/* Settings */

.p-settings {
    &__heading {
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    &__test-user-error {
        color: $color-danger;
    }
}

/* Item Select */

.p-item-select {
    &__error-msg {
        color: $color-danger;
        margin-bottom: 20px;
    }
    
    &__box-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    
    &__box {
        width: calc(50% - 5px);
        padding: 0;

        ul {
            list-style-type: none;
            padding: 4px;
            min-height: 305px;
            border: 1px solid $item-select-border-color;
            margin: 0;
        }
    }
    
    &__box-label {
        margin-bottom: 5px;
        font-weight: bold;
    }
    
    &__box-list-item {
        cursor: pointer;
        padding: 10px;
        width: 100%;
        margin: 0 0 5px;
        background-color: $button-bg-color;
        color: $button-color;

        &:last-child {
            margin: 0;
        }
    }
}

/* Area Select */

.p-area-select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 -10px;

    &__area-button-wrapper {
        width: 50%;
        padding: 0 10px;
        margin: 0 0 20px;

        @include mq(sp) {
            width: 100%;
        }
    }
    
    &__area-button {
        width: 100%;
    }
}

/* Modal */

.p-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    &__window {
        max-width: 90%;
        padding: 20px;
        background-color: $modal-window-bg-color;
    }
}

/* Loading */

.p-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3000;
    background-color: rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    &__icon {
        width: 50px;
        height: 50px;
        border: 4px solid $loading-circle-border-color;
        border-top: 4px solid transparent;
        border-radius: 50%;
        animation: rotate 1s linear 0s infinite;
    }
}

/* Top */

.p-top {
    color: $top-color;
    min-height: 100vh;
    background-image: url('/img/top_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    &__cover {
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    &__cover-inner {
        margin: 0 auto;
        max-width: 840px;
        padding: 30px 20px 143px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-line-pack: center;
        align-content: center;
        min-height: 100vh;
    
        @include mq(sp) {
            padding: 30px 10px 143px;
        }
    }

    &__site-name {
        font-weight: bold;
        font-size: 36px;
        text-align: center;
        margin: 0 0 30px;
        width: 100%;
    }

    &__site-description {
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        margin: 0 0 40px;
        width: 100%;
    }

    &__button {
        width: 100%;
        max-width: 320px;
        font-weight: bold;
        background-color: $top-button-bg-color;
    
        &:hover {
            background-color: $top-button-bg-color-hover;
        }
    }
    
    &__button-wrapper {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
}

/* Alert Message */

.p-alert-message {
    width: 90%;
    max-width: 400px;
    padding: 10px 44px;
    background-color: $alert-bg-color;
    color: $alert-color;
    font-weight: bold;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
    text-align: center;

    &--success {
        background-color: $alert-bg-color-success;
    }
    
    &--error {
        background-color: $alert-bg-color-danger;
    }
    
    &--fading-out {
        opacity: 0;
        animation: alert-message-fadeout 4s linear 0s;
    }
    
    &__close-button {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    
        &::before {
            content: "";
            background-color: $alert-color;
            position: absolute;
            top: 10px;
            left: -1px;
            height: 3px;
            width: 26px;
            transform: rotate(45deg);
        }
        
        &::after {
            content: "";
            background-color: $alert-color;
            position: absolute;
            top: 10px;
            left: -1px;
            height: 3px;
            width: 26px;
            transform: rotate(-45deg);
        }
    }
}

/* Terms */

.p-terms {
    &__article-heading {
        font-size: 20px;
        margin: 0 0 20px;
    }
    
    &__change-history {
        margin: 40px 0 0;
    }
}

/* Hamburger Menu */

.p-hamburger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 500;
    display: none;
    background-color: $header-bg-color;
    padding-top: 51px;

    &--active {
        @include mq(sp) {
            animation: hamburger-menu-fadein 0.3s linear 0s;
            display: block;
        }
    }

    &--fading-out {
        @include mq(sp) {
            display: block;
            opacity: 0;
            animation: hamburger-menu-fadeout 0.3s linear 0s;
        }
    }

    &__link {
        display: block;
        height: 51px;
        border-bottom: 1px solid $header-border-color;
        color: $color;
        text-decoration: none;
        text-align: center;
        line-height: 50px;
        font-weight: bold;
    
        &:hover {
            color: $header-link-color-hover;
        }
    }
}

/* Utility ------------ */

/* Margin */

.u-mr-0 {
    margin-right: 0;
}

.u-mr-5 {
    margin-right: 5px;
}

.u-mr-10 {
    margin-right: 10px;
}

.u-mr-20 {
    margin-right: 20px;
}

.u-mb-0 {
    margin-bottom: 0;
}

.u-mb-5 {
    margin-bottom: 5px;
}

.u-mb-10 {
    margin-bottom: 10px;
}

.u-mb-20 {
    margin-bottom: 20px;
}

/* Text */

.u-text-center {
    text-align: center;
}
