/* Settings */

.p-settings {
    &__heading {
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    &__test-user-error {
        color: $color-danger;
    }

    &__selected-item-list {
        list-style: none;
        padding-left: 0;
        margin-bottom: 20px;
    }
}
